* {
    margin: 0px;
    overflow-x: hidden;
    max-height: auto;
}


header {
    background-color: #AF3C16;
    height: 100px;
    width: 100%;
}

.fundo {
    position: relative;
}

.fundo img {
    width: 1880px;
    object-fit: cover;
    display: block
}


.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1880px;
    height: 1070px;
    background-color: rgba(59, 34, 1, 0.384);
}

.background {
    position: relative;
    overflow-y: hidden;
}


.box {
    position: absolute;
    width: 550px;
    height: 720px;
    background-color: #ffffff57;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    left: 150px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.conteudo p {
    font-size: 64px;
}

.conteudo label {
    font-size: 36px;
    color: rgb(0, 0, 0);
}

.conteudo input {
    border: none;
    border-radius: 14px;
    background-color: #ffd9b794;
    width: 350px;
    height: 40px;
    margin-bottom: 75px;
}
.butt {
    margin-left: 60px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.conteudo button {
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: solid 1px black;
    background-color: #f0b37f;
}

.kami {
    position: absolute;
    top: 200px;
    right: 200px;
}

.balao {
    position: absolute;
    top: 30px;
    right: 450px;
    
}

/* parte 2  */


.fundo_2 {
    position: relative;
}

.fundo_2 img {
    width: 1880px;
    object-fit: cover;
    display: block
}

.medidor {
    padding: 30px;
    background-color: #29f63e4b;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 1200px;
    border-radius: 12% 22% 22% 12% / 12% 22% 22% 12% ;
}

.kami_2 {
    position: absolute;
    top: 1400px;
    left: 350px;
}

.box_2 {
    position: absolute;
    width: 450px;
    height: 720px;
    background-color: #ffffff57;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 1300px;
    right: 200px;
}

.box_2 p {
    text-align: center;
    font-size: 36px;
}